<h2 class="about title text-center">About the "Author"</h2>
<img src="images/aboutPhoto.JPG" style="width: 40%; height:40%; margin:auto; display:block">
<p>
    <div class="container text-center">
        <a id="button1" class="btn btn-secondary" data-toggle="collapse" href="#multiCollapseExample1" role="button"
            aria-expanded="false" aria-controls="multiCollapseExample1">Step Into Thien An's Life</a>
        <button id="button2" class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2"
            aria-expanded="false" aria-controls="multiCollapseExample2">Why She Created Dear Diary</button>
    </div>
</p>
<div class="row">
    <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body">
                Thien An Trinh is a third year at Northeastern University majoring in Computer Science and Mechanical
                Engineering. She knows she wants to help the world, she just doesn't know how just yet. What she does
                know is that, when she codes, it feels like magic is slipping out her fingers as she completes every
                function and every time she creates an exciting new piece in SolidWorks, it feels like she has
                conquered the world. She hopes to take her two passions of Computer Science and Mechanical Engineering
                and make a change.
            </div>
        </div>
    </div>
    <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample2">
            <div class="card card-body">
                "I never enjoyed writing essays growing up and I never thought I would be able to keep a diary. Once I
                entered my third year of college, however, I thought I would give it a try and write down my thoughts.
                Honestly, I was shocked. It felt like a weight was lifted off my shoulders with every word I wrote,
                pouring my feelings out and I don't know why I haven't been doing this my whole life. With Dear Diary,
                I want every one to have a place where they can say what needs to be said, even if they don't want
                anyone to hear it."


            </div>
        </div>
    </div>
</div>

<div class="bottom text-center">
    <p id="socialTag">Follow Thien An on Social Media</p>

    <ul id="socialMediaLinks">
        <li id="linked">
            <a href="https://www.linkedin.com/in/thienantrinh/"><i class="fab fa-linkedin"></i>
            </a>
        </li>
        <li id="facebook">
            <a href="https://www.facebook.com/Thienan.Trinh"><i class="fab fa-facebook-square"></i> </a>
        </li>
        <li id="instagram">
            <a href="https://www.instagram.com/trinspiredd/?hl=en"><i class="fab fa-instagram"></i></a>
        </li>
    </ul>
</div>