<div class=" jumbotron text-center" style="background-color:#f3f3f3">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">A place to put your thoughts into words</p>
    <p>Begin your journey here</p>
    <p class="lead">
        <a class="btn btn-light btn-lg" href="/ideas/add" role="button">Write a new page</a>
    </p>
</div>